@model List<Model.Entity.Menu>


<nav class="header__menu" style="margin-right:10px;">
    <ul>
        <li><a href="/Home/Index">Trang Chu</a></li>
        <li><a href="/Book/AllBook">San Pham</a></li>
        <li><a href="#">Ve Cuung Tot</a></li>
    </ul>
</nav>
